*{
    margin: 0;
    padding: 0;
}

.body{
    height: 100vh;
    width: 100vw;
    background: url(../img/bg.jpg)no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;



     
}
#board{
    width:90vmin;
    height: 92vmin;
    border: 2px solid black;
    background:linear-gradient(rgb(196, 185, 247), rgb(245, 203, 247));
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background-color: red;
}
.snake{
    background-color: purple;
}
.food{
    background-color: yellow;
}